// Specific CSS for your home-page
.search-question {
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.search-box {
  border-style: outset;
  border-color: rgba(0, 0, 0, 0.6);
}

.headline {
  text-align: center;
  padding-bottom: 10vh 0;

  h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
}

.carousel-container {
  justify-content: space-evenly;
  width: 80%;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
  padding-bottom: 40px;

  .carousel-inner {
    overflow: hidden;
  }

  .track {
    display: inline-flex;
    transition: transform 0.5s;
  }
  .card-container {
    width: 19.5%;
    flex-shrink: 0;
    height: 250px;
    padding: 15px;
    box-sizing: border-box;

    .card {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }

  }
}

.nav {
  p {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    border: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }

  .prev {
    left: -5%;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  .next {
    right: -5%;
  }
}
