<footer class="text-center text-lg-start text-muted fixed-bottom">
  <section class="" style="background-color: #f3c36c; color: white; height: 100px">
    <div class="container text-center text-md-start mt-5" style="padding-top: 1px">
      <div class="row mt-2">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
          <h6 class="text-uppercase fw-bold mb-2">
            <i class="fas fa-gem me-3 text-grayish"></i>Barneys Boards
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-1">
          <h6 class="text-uppercase fw-bold mb-1">
            Useful links
          </h6>
          <p class="mb-1">
            <a href="#!" class="text-reset">Waves check</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Weather check</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">
          <h6 class="text-uppercase fw-bold mb-1">Contact</h6>
          <p class="mb-1"><i class="fas fa-home me-3 text-grayish"></i> Lorem ipsum dolor sit.</p>
          <p>
            <i class="fas fa-envelope me-3 text-grayish"></i>
            lorem@example.com
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
