<div class="footer" style="position: relative; width:100%; bottom: 0; justify-content: space-between;">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Surf's up <i class="fa-solid fa-umbrella-beach"></i> at Le Wagon
    </div>
</div>
