<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color: #f8ae72; color: white; height: 70px">
  <div class="logo" style="color: white; padding: 60px">
    <h4>Barneys Boards</h4>
  </div>
</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding: 10px">
    <div class="nav-item" style="padding: 0px 0px; font-style: bold; font-size: 20px;">
      <a class="nav-link" href="/users/sign_in">Sign in</a>
    </div>
    <div class="nav-item" style="padding: 0px 120px;font-style: bold; font-size: 20px;">
      <a class="nav-link" href="/users/sign_up">Sign up</a>
    </div>
  </div>
</div>
