<div class="jumbotron banner-back parent position-relative" style="opacity: 0.8;">
  <div class="position-absolute" style="top: 150px; right: 60px; opacity: 1">
    <h4 class="display-7" style="color: white; border: 1px; border-color: rgba(0, 0, 0, 0.8);">Where are you going?</h4>
    <p class="lead">
      <div class="input-group rounded" style="height: 50px">
        <input type="search" class="form-control rounded" placeholder="Location" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
        </span>
      </div>
    </p>
    </div>
  </div>
</div>

<div class='headline'>
  <h1>Find your board</h1>
  <h5>Explore the world's largest surfboard sharing marketplace</h5>
</div>

<div class="carousel-container">
  <div class="track">
    <div class="card-container">
      <div class="container">
      </div>
    </div>
  </div>
</div>


<%# <h1>Pages#home</h1>
<% @surfboards.each do |surfboard| %>
<%# <%= surfboard.description %>
<%# <%= surfboard.price %>
<%# <%= link_to 'View', surfboard_path(surfboard), class: 'btn btn-warning' %>
<%# <br> %>
<%# <% end %>
