<h1>Pages#home</h1>
<% @surfboards.each do |surfboard| %>
<%= surfboard.description %>
<%= surfboard.price %>
<%= link_to 'View', surfboard_path(surfboard), class: 'btn btn-warning' %>
<% end %>
<br>
