<div class="content">
  <div class="cards">
    <% @surfboards.each do |surfboard| %>
      <%= render "shared/card", surfboard: surfboard %>
    <% end %>
  </div>

  <div id="map" style="width: 40%; height: 750px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
