.banner-back {
  background-image: url('https://images.unsplash.com/photo-1583105100808-e5b1b3ccd215?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  height: 400px;
  width: 100vw;
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
